#!/bin/bash
CURDAY=`date +%Y%m%d`
LOGPATH=/var/log/atop
BINPATH=/usr/bin

# start atop for all processes with interval of 10 minutes
# finishing before midnight
$BINPATH/atop -a -S -w $LOGPATH/atop_$CURDAY 600 &

sleep 3

# delete logfiles older than four weeks
find $LOGPATH -name 'atop_*' -mtime +28 -exec rm {} \;

exit 0
